.flx{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://cdn.glitch.global/0852b10c-7262-49e2-b9c6-d3c36dd957a9/hi123.avif?v=1695467426196');
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
}
.head {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 100px;

     display: flex;
     justify-content: space-between;
     
     z-index: 99;
    }
.logo{
    
    width: 100px;

    object-fit: cover;
    border-radius: 50%;

}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration:none ;
    font-weight: 500;
    margin-left: 40px;

}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #0b0b0b;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0); 
    transition: transform .5s; 
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);  
}

.navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #080808;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #0b0b0b;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnlogin-popup:hover {
    background: #e7b3b3;
    color: #64ade4;
}
.wrapper{
     position: relative;
     width: 400px;
     height: 440px;
     background: transparent;
     border: 2px solid rgba(255,255,255,.5 );
     border-radius: 20px;
     backdrop-filter: blur(20px);
     box-shadow: 0 0 30px rgba(0,0,0,.5);
     display: flex;
     justify-content: center;
     align-items: center;
    
}
.wrapper .form-box {
     width: 100%;
     padding: 40px;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 2em;
    color:#162938;
    text-align: center;
}
.input-box{
    position:relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #162938;
    margin: -15px 0 15px;
    display:flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3pxs;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
   width: 100%;
   height: 45px;
   background: #162938;
   border: none;
   outline: none;  
   border-radius: 6px;
   cursor: pointer;
   font-size: 1em;
   color: aqua;
   font-weight: 500;

}
.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
button{
    width:200px;
    padding:15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight:bold;
    border: 2px solid #360808;
    background:transparent;
    color: rgb(4, 64, 123);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    left: 0;
    bottom: -6px;
    backdrop-filter: blur(50px);
    margin: right;
    
}
span{
    background: rgba(43, 255, 23, 0.603);
    backdrop-filter: blur(50px);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    transform-origin: right;
}
button:hover span{
    width: 100%;

}
button:hover{
    border: none;
}
.content{
    margin: right;

}
.gallery {
    --g: 8px;   /* the gap */
    --s: 400px; /* the size */
    
    display: grid;
    border-radius: 50%;
    float: left;
  }
  .gallery > img {
    grid-area: 1/1;
    width: 450px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    transform: translate(var(--_x,0),var(--_y,0));
    cursor: pointer;
    z-index: 0;
    transition: .3s, z-index 0s .3s;
  }
  .gallery img:hover {
    --_i: 1;
    z-index: 1;
    transition: transform .2s, clip-path .3s .2s, z-index 0s;
  }
  .gallery:hover img {
    transform: translate(0,0);
  }
  .gallery > img:nth-child(1) {
    clip-path: polygon(50% 50%,calc(50%*var(--_i,0)) calc(120%*var(--_i,0)),0 calc(100%*var(--_i,0)),0 0,100% 0,100% calc(100%*var(--_i,0)),calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
    --_y: calc(-1*var(--g))
  }
  .gallery > img:nth-child(2) {
    clip-path: polygon(50% 50%,calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100% - 100%*var(--_i,0)) 0,100% 0,100% 100%,calc(100% - 100%*var(--_i,0)) 100%,calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
    --_x: var(--g)
  }
  .gallery > img:nth-child(3) {
    clip-path: polygon(50% 50%,calc(100% - 50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)),100% calc(100% - 120%*var(--_i,0)),100% 100%,0 100%,0 calc(100% - 100%*var(--_i,0)),calc(50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)));
    --_y: var(--g)
  }
  .gallery > img:nth-child(4) {
    clip-path: polygon(50% 50%,calc(120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100%*var(--_i,0)) 0,0 0,0 100%,calc(100%*var(--_i,0)) 100%,calc(120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
    --_x: calc(-1*var(--g))
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: rights;
  }